* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userProfile > img{
  border-radius: 50%;
}


.userProfileBar{
  background-color: var(--bg-color);
  position: fixed;
  right: 0;
  top: 0;

  width: 250px;
  height: 100%;

  border: 1px black solid;

  transform: translateX(100%);
  transition: transform 4 ease-outs;
}

.userProfileBar.show{
  transform: translateX(0);
}