/* body,
header,
main,
footer,
.navbar,
.logo {
  border: 1px solid black;
} */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logo img {
  width: 45px;
  height: 45px;
  display: block;
}

.logo h2 {
  margin: 0;
  line-height: 1;
}

.links,
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* auth here applies if user does not have an account yet */

.auth img {
  border: 0px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.auth a,
.links a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 24px;
  padding: 8px 12px;
}
